
# Dependency directory
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git
node_modules

# Testing support (Yeoman, Generator Test)
.bowerrc
bower_components
bower.json
index.html
spec

# User specifics
.DS_Store
.sublime-project
.sublime-workspace

# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed
